
.article1{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  box-shadow: 0px 0px 4px 2px #607d8bc7;
  border-radius: 3px;
  background-color: #fff;
}

.article1Title_p {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article1Title_p h2,
.article1Title_p p {
  color: #222;
  padding: 10px 0;
  text-align: justify;
}


@media (max-width : 768px) {
  
  

  .article1 {
    width: 80%;
    flex-direction: column;
  }

  .article1Title_p {
    width: 100%;
  }
}
