* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* css para  secciones Novedades, oferta, marcas, etc */
.contenedor-seccion {
  margin: 20px 0;
  text-align: center;
}

.contenedor-seccion-items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor-seccion-titulo {
  text-transform: uppercase;
  color: beige;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.contenedor-seccion-titulo::before {
  content: '';
  position: absolute;
  height: 1px;
  border-top: 1px solid #ffffff;
  top: 50%;
  left: 50%;
  width: 35%;
  overflow: hidden;
  margin-left: 130px;
}

.contenedor-seccion-titulo::after {
  content: '';
  position: absolute;
  height: 1px;
  border-top: 1px solid #ffffff;
  top: 50%;
  right: 50%;
  width: 35%;
  overflow: hidden;
  margin-right: 130px;
}


/*------------------MediaQueries ---------------------*/

/*-------index--------*/
@media (max-width : 768px) {
  




/*----------Contacto-------------*/
.contenido-contacto{
  flex-direction: column;
}
.contenedor-form{
  width:50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contenedor-direccion{
  width: 80%;
  margin: 0 auto;
}

}


@media (max-width: 480px) {

  /*-------index--------*/
  .cabeceraTop {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cabecera-logo {
    order: -1;
  }

  .navegacion {
    margin-bottom: 25px;
  }

  .contenedor-novd_desc {
    flex-direction: column;
  }

  .novedades {
    width: 100%;
  }

  .descuentos {
    width: 100%;
    margin-top: 30px;
  }

  .navegacion-items a {
    font-size: 1em;
  }

  .navegacion-items a:hover {
    font-size: 1em;
  }

  .buscador {
    display: inline;
  }

  .boton-buscar {
    padding-top: 5px;
  }

  .baner-show {
    height: 260px;

  }

  .aviso-covid-19,
  .descripcion-novedades {
    padding: 0 10px;
    font-size: 1em;
  }

  .contenedor-marcas-items img {
    width: 100px;
  }

  .descuentos h2,
  .contenedor-marcas h2,
  .contenedor-productos-destc h2 {
    font-size: 1.5em;
  }

  .contenedor-productos-destc-items {
    flex-direction: column;
    height: auto;
  }

  .newsletter {
    position: relative;
  }

  .newsletter img {
    position: absolute;
    width: 16%;
    top: 0;
    left: 210px;
  }

  .info-newsletter h3 {
    font-size: 1.1em;
  }

  .info-newsletter p,
  .info-newsletter h3 {
    width: 220px;
    padding: 0 10px;
  }

  .suscribite-text,
  .suscribite-boton {
    font-size: 0.9em;
    padding: 5px;
  }

  /*-------Servicios--------*/

  .contenedor-servicios-text {
    width: 90%;
    margin: 30px auto;
  }

  .contenedor-servicios-text h1,
  .contenedor-servicios-text p {
    margin: 0px;
  }

  .contenedor-video iframe {
    width: 100%;
    height: 100%;
  }

  .contenedor-img-servicios {
    display: flex;
    flex-direction: column;
  }


  /*---------Acerca de Refrigo--------*/

  .containerImgNosotros {
    height: 200px;

  }

  .article1 img,
  .article2 img {
    width: 100%;
  }

  .article1Title_p {
    padding: 20px;
    font-size: 12px;
  }
/*--------contacto-------*/
.contenedor-form{
  width:80%;
}
.container_googleMaps iframe{
  width: 100%;
    height: 100%;
}

/*-------categorias-------*/
.contenido-centro .categorias{
  display: none;
}
}

