.newsletter {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.info-newsletter {
  display: flex;
}

.info-newsletter h3 {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: #333;
  padding: 5px;
}

.suscribite {
  padding: 10px;
}

.suscribite-text,
.suscribite-boton,
.suscribite p {
  font-size: 1em;
  padding: 5px;
}

.suscribite-text {
  width: 100%;
}

.suscribite-boton {
  border: none;
  background-color: #d40909;
  color: #fff;
  font-weight: 600;
  height: 28px;
  margin-left: 5px;
}